<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <th:block th:replace="layout :: link-css">

    </th:block>
    <title>Document</title>
</head>
<body>
<th:block th:replace="layout :: header">

</th:block>
<div class="container">
    <h1 th:text="${title}">
    </h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <th th:text="${book.id}" scope="row"></th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
                <a th:href="@{/books/edit/{id}(id=${book.id})}">Edit</a> |
                <a th:href="@{/books/delete/{id}(id=${book.id})}"
                   onclick="deleteBook(this);return false;" class="text-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item pagination" th:if="${books.totalPages > 0}"
                th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{/books(page=${pageNumber},size=${books.size})}"
                   th:classappend="${pageNumber==books.number + 1} ? active"
                   th:text=${pageNumber}
                ></a>
            </li>
        </ul>
    </nav>
</div>

<script th:inline="javascript">
    function deleteBook(link){
        if(confirm('Are you sure')){
            $.ajax({
                url: $(link).attr('href'),
                type: 'GET',
                success: result =>{
                    if(result != "1"){
                        alert("Loi");
                    }else{
                        $(link).parent().parent().remove();
                    }
                }
            });
        }
    }
</script>
<th:block th:replace="layout  :: footer"></th:block>
</body>
</html>